.input-group>.input-group-prepend {
    /* flex: 100% 100% 100%; */
    width: auto;
}
.input-group .input-group-text {
    width: 100px;
    height: 150%;
}

.form-control{
    flex: 100% 100% 100% !important;
    width: 100% !important;
}